<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Contato</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../../assets/css/cadastro_contato.css">
    <script src="../../assets/scripts/cadastro_contato.js" defer></script>
</head>

<body>
    <header class="bg-info text-white p-3">
        <div class="container d-flex flex-wrap justify-content-between align-items-center">
            <nav id="Pages" class="d-flex flex-wrap gap-2">
                <a href="../descricao/description.html" class="text-white">Descrição</a>
                <a href="../recompensas/page_recompensa.html" class="text-white">Recompensas</a>
                <a href="../tarefas/calendario.html" class="text-white">Tarefas</a>
                <a href="../contato/contato_user.html" class="text-white">Contato</a>
            </nav>
            <a href="../cadastro_usuario/editar_usuario.html" class="text-white"><img
                    src="../../assets/images/perfil-de-usuario.png" alt="Imagem de Perfil"
                    class="img-fluid header-img"></a>
        </div>
    </header>

    <main class="container my-5">
        <div id="pt1" class="text-center mb-5">
            <figure><img src="../../assets/images/Logo.png" alt="Imagem da Logo do Site" class="img-fluid mb-3">
            </figure>
            <p class="lead">A organização motiva a ação</p>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3751.036606306356!2d-43.995169924773094!3d-19.922862181464!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa696fabcd470ed%3A0x79ebb3d3cea6b4ea!2sPontifícia%20Universidade%20Católica%20de%20Minas%20Gerais%20-%20Coração%20Eucarístico!5e0!3m2!1spt-BR!2sbr!4v1717006605954!5m2!1spt-BR!2sbr"
                width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            <p class="mt-3">Pontifícia Universidade Católica de Minas Gerais - Coração Eucarístico</p>
            <p>Endereço: R. Dom José Gaspar, 500 - Coração Eucarístico, Belo Horizonte - MG</p>
        </div>
        <div id="pt2" class="my-5">
            <form id="Form">
                <label for="nome">Nome</label>
                <input type="text" name="nome" id="nome" required>
                <label for="email">Email</label>
                <input type="email" name="email" id="email" required>
                <label for="assunto">Assunto</label>
                <input type="text" name="assunto" id="assunto" required>
                <label for="mensagem">Mensagem</label>
                <textarea name="mensagem" id="mensagem" required></textarea>
                <div>
                    <button type="reset">Limpar</button>
                    <button type="submit">Enviar</button>
                </div>
            </form>
        </div>
    </main>
    <footer class="bg-info text-white text-center p-3">
        <p>@ Todos os direitos reservados</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>