body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  display: flexbox;
}

header {
  width: 100%;
  height: 80px;
  background-color: rgb(17, 185, 236);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

header img {
  height: 50px;
}

img {
  max-width: 100px;
  height: auto;
}

.header-img {
  max-width: 40px;
  height: auto;
}

#Crono {
  height: 100px;
  width: 100px;
}

#CronoSee {
  width: 450px;
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: auto;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  margin-left: auto;
}

#botaoPopup {
  height: 155px;
  width: 155px;
  border-radius: 64px;
  background-color: rgb(17, 185, 236);
  align-items: center;
  display: inline-block;
  margin-right: 15px;
}

#CronoContent {
  width: 100%;
  height: 160px;
  display: flexbox;
  justify-content: center;
  background-color: aqua;
  border-radius: 120px;
  align-content: center;
  padding: auto;
  box-sizing: border-box;
}

#Content {
  margin-left: 25px;
}

#PopUp {
  position: relative;
  width: 200px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  background-color: #fff;
  border: 8px solid #666;
  border-radius: 30px;
  box-shadow: 2px 2px 4px #888;
}