*,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #71C9EC;
    color: white;
    padding: 1em;
}

#Pages {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

#Pages a {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 6px;
    border: solid 2px #FFE500;
    font-size: large;
    transition: background-color 0.3s;
}

#Pages a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

img {
    max-width: 100%;
    height: auto;
}

header img {
    max-width: 40px;
    height: auto;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#cor {
    height: 100%;
    background: linear-gradient(to bottom, #f3d64e 0%, #78c5d6 50%, #008bba 100%);
}

#Imagem {
    text-align: center;
    margin-top: 20%;
}

#Logo {
    width: 100%;
    max-width: 400px;
}

#dados-cadastro {
    width: 70%;
    margin: 4% auto;
    background: #f9f9f9;
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 15px;
}

ul li label {
    font-weight: bold;
}

ul li input {
    width: 100%;
    margin-top: 5px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #d3d3d3;
}

button {
    margin-top: 5px;
    padding: 8px 15px;
    border: 2px solid transparent;
    border-radius: 10px;
    background-color: #52A7C8;
    color: #FFFFFF;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

button:hover {
    background-color: #4298b5;
}

button#deletar {
    background-color: #f44336;
    border-color: #e57373;
}

button#deletar:hover {
    background-color: #e53935;
}

button#voltar {
    background-color: #6c757d;
    border-color: #adb5bd;
}

button#voltar:hover {
    background-color: #5a6268;
}

footer p {
    margin: 0;
}

@media (max-width: 600px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    #Pages {
        justify-content: center;
        width: 100%;
        margin-top: 1em;
    }

    #Pages a {
        font-size: medium;
        padding: 0.5rem 1rem;
    }

    main {
        display: flex;
        flex-direction: column;
    }

    #cor {
        height: 30vh;
    }

    #Imagem {
        margin-top: 10px;
        margin-left: 5px;
        width: 100%;
    }

    #dados-cadastro {
        width: 90%;
    }
}