* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Definição da fonte personalizada */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

header {
    background-color: rgba(113, 201, 236, 255);
}

img {
    max-width: 100%;
    height: auto;
}

.header-img {
    max-width: 40px;
    height: auto;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6%;
}

.profile-container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.imagemdeperfil {
    margin: 20px 0;
}

#perfil {
    display: grid;
    margin-top: 10px;
    text-align: center;
    align-items: center;
}

.infos {
    border-style: solid;
    margin: 2px;
    width: 500px;
    height: 45px;
    text-align: center;
    border-radius: 50px;
    padding: 2px;
    font-size: small;
    display: grid;
    margin-bottom: 2%;
    margin-left: 5%;
}

strong {
    font-size: small;
}

span {
    font-size: small;
    margin-bottom: 2px;
}

.editarperfil {
    margin-top: 2%;
    display: none;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease, max-height 0.5s ease;
}

.editarperfil.show {
    display: block;
    opacity: 1;
    max-height: 1000px;
    text-align: center;
}

#inputName {
    border-style: solid;
    margin: 2px;
    width: 500px;
    text-align: center;
    border-radius: 50px;
    padding: 10px;
}

#inputEmail {
    border-style: solid;
    margin: 2px;
    width: 500px;
    text-align: center;
    border-radius: 50px;
    padding: 10px;
}

#inputIdade {
    border-style: solid;
    margin: 2px;
    width: 500px;
    text-align: center;
    border-radius: 50px;
    padding: 10px;
}

#inputTelefone {
    border-style: solid;
    margin: 2px;
    width: 500px;
    text-align: center;
    border-radius: 50px;
    padding: 10px;
}

#inputData {
    border-style: solid;
    margin: 2px;
    width: 500px;
    text-align: center;
    border-radius: 50px;
    padding: 10px;
}

.label-float {
    position: relative;
    padding-top: 13px;
    width: 100%;
}

.label-float input,
select,
textarea {
    border: 1px solid #636363;
    height: 40px;
    outline: none;
    font-size: 16px;
    transition: all 0.1s ease-out;
    border-radius: 3px;
    padding-left: 15px;
    padding-right: 15px;
}

.label-float input::placeholder,
textarea::placeholder {
    color: transparent;
}

.label-float label {
    pointer-events: none;
    position: absolute;
    color: #A1A1A1;
    top: 0;
    left: 0;
    background-color: #fbfbfb;
    margin-top: 21px;
    margin-left: 15px;
    transition: all 0.1s ease-out;
}

.label-float input:valid+label {
    color: #A1A1A1;
}

.label-float input:focus+label,
.label-float textarea:focus+label,
.label-float input:not(:placeholder-shown)+label {
    font-size: 13px;
    margin-top: 4px;
    margin-left: 15px;
    color: #A1A1A1;
    padding-left: 3px;
    padding-right: 3px;
}

.label-float input:focus,
select:focus,
#textAreaDescription:focus {
    border: 2px solid #6CA2F7;
}

.submit-button {
    margin-top: 20px;
    background-color: #2076ff;
    padding: 5px 10px;
    border-radius: 100px;
    border: none;
    color: #fff;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 5%;
}

.submit-button:hover {
    background-color: #0656d6;
}

#editarPerfilBtn {
    margin-top: 20px;
    background-color: #2076ff;
    padding: 5px 10px;
    border-radius: 100px;
    border: none;
    color: #fff;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin-left: 10%;
}