body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #71C9EC;
  color: white;
  text-align: center;
  padding: 1em;
}

header img {
  width: 70px;
}

#Pages {
  display: flex;
  gap: 1rem;
}

#Pages a {
  color: white;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 6px;
  border: solid 2px #FFE500;
  font-size: large;
}
main p{
  text-align: justify;
}
img {
  max-width: 300px;
  height: auto;
}

@media screen and (max-width: 768px) {
  header {
    flex-wrap: wrap;
    text-align: center;
  }

  header .container {
    flex-direction: column;
  }

  #Pages {
    flex-direction: column;
    gap: 0.5rem;
  }

  .d-flex.flex-basis-100.justify-content-center {
    margin-top: 1rem;
  }

  main {
    padding: 1rem;
  }
}

figure img {
  width: 100%;
  height: auto;
}