* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

header {
    background-color: rgba(113, 201, 236, 255);
    padding: 10px;
}

#Pages a {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 6px;
    border: solid 2px #FFE500;
    font-size: large;
    display: inline-block;
}

img {
    max-width: 100%;
    height: auto;
}

.header-img {
    max-width: 40px;
    height: auto;
}

#bordas {
    transition: all .3s;
}

#bordas:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

#bordas:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

#main {
    padding-bottom: 300px;
}

form {
    background-color: rgba(113, 201, 236, 255);
}

#botao-adicionar {
    background-color: rgba(113, 201, 236, 255);
    color: white;
    padding: 5px;
    border-radius: 10rem;
    border-color: rgb(245, 205, 27);
    transition: all .3s;
}

#botao-cancelar {
    background-color: rgba(113, 201, 236, 255);
    color: white;
    padding: 5px;
    border-radius: 10rem;
    border-color: rgb(245, 205, 27);
    text-decoration: none;
    transition: all .3s;
}

#botao-adicionar:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

#botao-adicionar:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

#botao-cancelar:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

#botao-cancelar:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 768px) {
    #Pages a {
        display: block;
        margin: 5px 0;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    .header-img {
        margin-top: 10px;
    }
}

@media screen and (max-width: 930px) {
    form {
        width: 90%;
    }

    #botoes button {
        margin-bottom: 1rem;
    }

    #botoes {
        flex-direction: column;
    }

    #botoes button {
        width: 100%;
    }
}